.eng{
    background-image: url(1.jpg);
    height: 250px;
    color: aliceblue;
}
.check{
    background-image: url(4.jpg);
    height: 230px;
    color: aliceblue;
}

.but{
    padding-left: 470px;

}